<!DOCTYPE html>
<html>
<head>
  <title>Shoebox</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="/">Home</a>
<a href="/say/hello">Hello</a>
<a href="/say/goodbye">Bye</a>
<%= yield %>

</body>
</html>
