<br>
<div class="jumbotron">
<h2>Please add your Shoes</h2>
<br>

<%=form_tag '/mybox/add', method: 'post' do %>
	<input type="text" name="shoename" placeholder="Shoe Model" class="btn-default"><br><br>
	<select name="choice" class="btn-default">
		<option value=""selected>Choose your shoes type</option>
		<option value="Suede WalkingShoes">Suede WalkingShoes</option>
		<option value="Artificial Leather Highhill">Artificial Leather Highhill</option>
		<option value="Artificial Casual Jogging Shoes">Artificial Casual Jogging Shoes</option>
		<option value="Leather Walker">Leather Walker</option>
		<option value="Leather Business Shoes">Leather Business Shoes</option>
		<option value="Converse Casual">Converse Casual</option>
		<option value="Suede Casual">Suede Casual</option>
		<option value="Suede Business">Suede Business</option>
		<option value="Soccer Shoe">Soccer Shoe</option>
		<option value="Rain boots">Rain boots</option>
		<option value="Basketball Shoes">Basketball Shoes</option>
		<option value="Suede Slippers">Suede Slippers</option>
		<option value="Leather Silppers">Leather Silppers</option>
	</select><br><br>
	<select name="color" class="btn-default">
		<option value=""selected>Choose your shoes color</option>
		<option value="white">White</option>
		<option value="black">Black</option>
		<option value="blue">Blue</option>
		<option value="red">Red</option>
		<option value="purple">Purple</option>
		<option value="yellow">Yellow</option>
	</select><br><br>
	<input type="submit" value="Select" class="btn btn-default">
<% end %>
</div>