<h1>Check inner Weather</h1>
<h2>Temperature</h2>
<div class="window-content">
    <iframe width="450" height="250" src="https://thingspeak.com/channels/120593/charts/1?bgcolor=%23ffffff&amp;color=%23d62020&amp;dynamic=true&amp;results=60&amp;type=line"></iframe>
</div>
<h2>Huminity</h2>
<div class="window-content">
    <iframe width="450" height="250" src="https://thingspeak.com/channels/120593/charts/2?bgcolor=%23ffffff&amp;color=%23d62020&amp;dynamic=true&amp;results=60&amp;type=line"></iframe>
</div>



<h1>Check outer Weather</h1>
<br>
<button type="button" class="btn-default"><a href="/weather/seoul">Seoul</a></button>
<button type="button" class="btn-default"><a href="/weather/busan">Busan</a></button>
<button type="button" class="btn-default"><a href="/weather/daegu">Deagu</a></button>
