<br>
<div class="jumbotron">
<h2>Check the Weather outside</h2>
<br>
<button type="button" class="btn-default"><a href="/weather/seoul">Seoul</a></button>
<button type="button" class="btn-default"><a href="/weather/busan">Busan</a></button>
<button type="button" class="btn-default"><a href="/weather/daegu">Deagu</a></button>
</div>