		  <div class="mastfoot">
            <div class="inner">
            <br>
            <br>
            <br>
            <br>
            <br>
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
              <p>Hanyang University | College of Engineering | 개인정보관리책임자 고병휘,권규혁,김정현,신민기 | 사업자등록번호 123-456-789 | 통신판매업 신고번호 제2016-서울성동-01호</p>
              <p>04763 서울특별시 성동구 왕십리로222 | Tel 02-2220-0114 | thebest0316@gmail.com</p>

            </div>
          </div>

        </div>

      </div>

    </div>