@import "bootstrap-sprockets";
@import "bootstrap";

html,
body {
  height: 100%;
  background-color: white;
}
body {
  color: #000;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
