<h1 class="cover-heading">Welcome to Your Smart shoebox</h1>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://cdn.sneakernews.com/wp-content/uploads/2015/06/first-look-nike-running-photosynthesis-pack-02.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="http://images.nike.com/is/image/DotCom/pwp_sheet2?$NIKE_PWPx3$&$img0=807471_010&$img1=807471_101&$img2=807471_009" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<%= image_tag("4.jpg", height: '300', width: '500') %>

<br><font size = "6" face = "맑은고딕">Always be your shoes like new!!</font>

<br>
<br>
<br>
<br>
<font size = "5" style="bold" >Smart shoebox offering the various function</font>
<br>
<br>



<font size = "5" style="border-style: ridge;
           border-color: black">1.Smart function</font>

           <br>
           <p>-auto managemant with classification of shoes type</p>
           <br>

 <%= image_tag("5.png", height: '200', width: '350') %>
<br><br>
<p>Temperature/Humidity control through electric  fan (automatic)this will provides an optimized environment(through arduino) for all type of shoes</p>
<br>


<p>Drying feature (on demand)
if the user’s shoes get wet by rain or other liquids< you can request for drying will operate 
<br>
<br>

<font size = "5" style="border-style: ridge;
           border-color: black">2.recommendation</font><br>
           <p> -Smart shoesbox will provide recommendation algorithms<br> with percentages based on different kind of aspects(weather,warmth,frequency,preference)</p><br>
           <%= image_tag("6.png", height: '200', width: '200') %>
           <br><br>

           <p>Recommendation based on weather forecast 
With weather API, the proper type of shoes is recommended.<p><br> Recommendation based on the use of shoes
Recommending the shoes type which matches with the user’s activity.</p><br><p>Recommendation based on the color of shoes
Recommending the shoes color which balances with the users clothing color</p>

<font size = "5" style="border-style: ridge;
           border-color: black">3.durability analysis(predictive life cycle)</font><br><p> -To keep the user’s shoes in high quality we can provide an analysis for the shoes the user own.</p>
</h4>
<br>

<p>Absence of shoes analysis We have decided to analyze the absence of shoes by  pressure sensor and use it as a base information</p><br>
<p>Durability analysis
Durability is set to decrease by the time the shoe has been put on increases. </p><br>
<p> Life prediction analysis
Based on the information of (1), we provide the expected  life of the shoes</p>







