<br>
<div class="jumbotron">
        <h2>Who are we?</h2>
        <h1>Dpnia</h1>
        Developing Program Mania<br><br>
        <p>Ko Byunghee, Kwon Gyuhyeok, Kim Junghyun, Shin Minki</p>
        <p>Information System Department</p>
        <p>College of Engineering, Hanyang University</p>
        Seoul, South Korea<br><br>
        <p><a class="btn btn-lg btn-success" href="https://github.com/Dpnia/SHOEBOX" role="button">Subscribe us on Github</a></p>
</div><br>
<div class="jumbotron">
<h2>What is Smart Shoebox?</h2>
<br>
<font size = "5" style="border-style: ridge;
           border-color: black">1.Smart function</font>

           <br>
           <p>-auto managemant with classification of shoes type</p>
           <br>

 <%= image_tag("5.png", height: '200', width: '350') %>
<br><br>
<p>Temperature/Humidity control through electric  fan (automatic)this will provides an optimized environment(through arduino) for all type of shoes</p>
<br>


<p>Drying feature (on demand)
if the user’s shoes get wet by rain or other liquids< you can request for drying will operate 
<br>
<br>

<font size = "5" style="border-style: ridge;
           border-color: black">2.recommendation</font><br>
           <p> -Smart shoesbox will provide recommendation algorithms<br> with percentages based on different kind of aspects(weather,warmth,frequency,preference)</p><br>
           <%= image_tag("6.png", height: '200', width: '200') %>
           <br><br>

           <p>Recommendation based on weather forecast 
With weather API, the proper type of shoes is recommended.<p><br> Recommendation based on the use of shoes
Recommending the shoes type which matches with the user’s activity.</p><br><p>Recommendation based on the color of shoes
Recommending the shoes color which balances with the users clothing color</p>

<font size = "5" style="border-style: ridge;
           border-color: black">3.durability analysis(predictive life cycle)</font><br><p> -To keep the user’s shoes in high quality we can provide an analysis for the shoes the user own.</p>
</h4>
<br>

<p>Absence of shoes analysis We have decided to analyze the absence of shoes by  pressure sensor and use it as a base information</p><br>
<p>Durability analysis
Durability is set to decrease by the time the shoe has been put on increases. </p><br>
<p> Life prediction analysis
Based on the information of (1), we provide the expected  life of the shoes</p>
</div>







